In [1]:
# commenting Ctrl + /

# Commenting in another style

## Assignment Statement

In [2]:
a = 10
b = '50'   #note: b is a string because it's in quotation
c = 80

In [3]:
a+c

90

In [4]:
50 + a + c

140

In [5]:
f=56

In [6]:
f

56

# String Data Type

In [7]:
# strings can be declared using single, double or triple quotes

In [8]:
name = 'Jackson'
namex = "Iverson"
namey = '"Josh"'

In [9]:
type(name)

str

In [10]:
type(namey)

str

In [11]:
name+" "+namex

'Jackson Iverson'

In [12]:
print('My name is')   #string

My name is

In [13]:
print(name)    #variable

Jackson

In [14]:
print('My name is',name)  
print(name,'',namex)

My name is Jackson
Jackson  Iverson

## String Slicing

In [15]:
data = 'University '

In [16]:
data

'University '

In [17]:
data[0]

'U'

In [18]:
data[1]

'n'

In [19]:
data[10]

' '

In [20]:
data[0:2]

'Un'

In [21]:
data[0:5]

'Unive'

In [22]:
data[-1]

' '

In [23]:
data[-2]

'y'

In [24]:
data[:]

'University '

In [25]:
data[3:]

'versity '

In [26]:
data[:7]

'Univers'

In [27]:
data[0:10]

'University'

In [28]:
data[0:10:2]   #start stop skip     
               # skip 2 means skip 1 because of the slicer

'Uiest'

In [29]:
data.upper()

'UNIVERSITY '

In [30]:
data.lower()

'university '

In [31]:
data.title()

'University '

In [32]:
data.count('i')

2

In [33]:
data.count(' ')

1

In [34]:
data.replace('i','p')

'Unpverspty '

In [35]:
len(data)

11

In [36]:
len(data)+10

21

## concept of programming

In [37]:
# # object method value

# data.SitDown('6minutes')  #means sit down for 6 mins

In [38]:
test = 'The North Face'

In [39]:
test

'The North Face'

In [40]:
test[10:]

'Face'

In [41]:
test[10:].upper()

'FACE'

In [42]:
test[4:9].lower()

'north'

In [43]:
test[0:8]

'The Nort'

# List Data Type

In [44]:
# a list is declared with square brackets
# a list can carry multiple data types
# whenever you slice out a value from a list, that value holds it's properties

In [45]:
info = [1, 2, 3, 4, 'Hello', True, 'John']

In [46]:
info

[1, 2, 3, 4, 'Hello', True, 'John']

In [47]:
type(info)

list

In [48]:
len(info)

7

## List Slicing

In [49]:
info

[1, 2, 3, 4, 'Hello', True, 'John']

In [50]:
info[6]

'John'

In [51]:
info[5]

True

In [52]:
info[0] + info[2]

4

In [53]:
info[2]+10

13

In [54]:
info[4].replace('H','h')

'hello'

In [55]:
info[4] = 1000

In [56]:
info

[1, 2, 3, 4, 1000, True, 'John']

In [57]:
info.append('Banana')    #append edits by adding a new stuff to the list

In [58]:
info

[1, 2, 3, 4, 1000, True, 'John', 'Banana']

In [59]:
info.insert(3,'Python')

In [60]:
info

[1, 2, 3, 'Python', 4, 1000, True, 'John', 'Banana']

In [61]:
info.append(5000)

In [62]:
info

[1, 2, 3, 'Python', 4, 1000, True, 'John', 'Banana', 5000]

In [63]:
info[-1]

5000

In [64]:
wiki = ['Lagos', 'Kano', 'Abuja', 'Ibadan']

In [65]:
wiki.sort()

In [66]:
wiki

['Abuja', 'Ibadan', 'Kano', 'Lagos']

In [67]:
wiki.sort(reverse=True)

In [68]:
wiki

['Lagos', 'Kano', 'Ibadan', 'Abuja']

# Tuple Data type

In [69]:
fruits = ('mango', 'cucumber','apple','orange')

In [70]:
type(fruits)

tuple

In [71]:
fruits.count('apple')

1

In [72]:
fruits.index('orange')

3

In [73]:
len(fruits)

4

In [74]:
# a tuple is immutable. It's used for making constants (type that shouldn't change in coding)

In [75]:
fruits[1].replace('c','C')

'CuCumber'

# Dictionary Data type

In [76]:
family = {'jack':'rose', 'ben':'martha', 'luqman':'zainab'}

In [77]:
family

{'jack': 'rose', 'ben': 'martha', 'luqman': 'zainab'}

In [78]:
family['luqman']

'zainab'

In [79]:
family['luqman'].upper()

'ZAINAB'

In [80]:
family.keys()

dict_keys(['jack', 'ben', 'luqman'])

In [81]:
family.values()

dict_values(['rose', 'martha', 'zainab'])

In [82]:
family.update({'musa':'mary'})  #update and append are similar to add a new entry

In [83]:
family

{'jack': 'rose', 'ben': 'martha', 'luqman': 'zainab', 'musa': 'mary'}

In [84]:
family.pop('luqman')    #delete an entry

'zainab'

In [85]:
family['jack'] = 'annie'   #changing the value in the dictionary

In [86]:
family

{'jack': 'annie', 'ben': 'martha', 'musa': 'mary'}

In [87]:
family['ben']=1000

In [88]:
family['musa']=True

In [89]:
family

{'jack': 'annie', 'ben': 1000, 'musa': True}

In [90]:
staff = {'names':['ben', 'ace', 'rice', 'bob'],
         'age' : [12, 56, 23, 79],
         'gender':['M', 'F','M','M'],
         'salary': [4500.2, 1000.6, 5000.26, 7700.0]
        }

In [91]:
type(staff)

dict

In [92]:
import pandas as pd

In [93]:
pd.DataFrame(staff)

  names  age gender   salary
0   ben   12      M  4500.20
1   ace   56      F  1000.60
2  rice   23      M  5000.26
3   bob   79      M  7700.00